body{
    text-align: center;
    background-color:#f0f8ff  
}

h1{
    text-align:center;
}
li{
    list-style: none;
}

.conclusion{
    margin: auto;
    width: 40%;
}

.conclusion-text{
    text-align: left;
}