*{
    margin: 0 0 0 0;
    padding:0 0 0 0;
}
a{
    text-decoration: none;
}
html{
    height:100%;
}

body{
    text-align: center;
    height: 100%;
}



.title{
    background-color: #191970;
    margin: 0;
}


.kurohatos-room{
    color:#fffafa;
    font-family: fantasy,'游ゴシック', 'Hiragino Sans',Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-weight: 2;
    text-align:left;
    padding-left: 3%;
    text-rendering: optimizeLegibility;
    height: 15%;
    width: 50%;
}
.menu-botton{
    margin-top: 5px;
    position: absolute;
    left: 95%;
}

.menu-icon{
    content: url(image/menu.png);
    width: 60px;
    height: 60px;
    float: right;
}
h1{
    text-align: center;
}
.picture{
    content: url(image/sky.png);
    width: 100%;
    height: 400px;
}
ul{
    background-color: white;
    height: 40px;
}

ul :nth-child(4){
    border-right: solid black 1px;
}


li{ 
    display: inline;
    list-style: none;
    text-align: center;
    font-size: 25px;
    padding:0 30px 0 30px;
    border-left: solid black 1px;
    
}

main{
    background-color:#f0f8ff;
    height: 100%;
    padding:20px;
}

.profile{
    border:double black 1px;
    background-color: white;
    width: 70%;
    height: 440px;
    margin:auto;
    margin-bottom: 20px;
}

.myself{
    content:url(image/myself-triminged.jpg);
    text-align: left;
    padding: 20px 20px 20px 20px;
    float: left;
    width: 300px;
    height: 375px;
}

.introduce{
    float: left;
    margin-left: 340px;
    width: 40%;
    height: 375px;
    margin:20px 20px 20px 20px;
    text-align: left;
}
.twitter-box{
    text-align: left;
    margin-left: 30%;
}


.conclusion{
    margin: auto;
    width: 70%;
}

.conclusion-text{
    text-align: left;
}

.book-list{
    background-color:#f0f8ff;
    border: none;
}

.month{
    border:double 2px black;
    width: 50%;
    margin:20px auto 10px; 
    text-align: left;
    background-color: white;
}

.month-tag{
    margin-left:10%;
    font-size: 25px;
}
.books{
    text-align: left;
    margin-left: 20%;
}

@media screen and (Max-width:320px){
    .kurohatos-room{
        font-size: 30px;
    } 
}